<div >
    <div class="row">
        <h3 class="col-12 text-center text-primary text-decoration-underline">LISTADO DE SECTORES</h3>
    </div>
    
    <div class="row mb-2">
        <div class="col-12">
            <button class="btn btn-primary" (click)="agregarSector()">AGREGAR</button>
        </div>
    </div>
    <table  class="table table-striped border border-1">
        <thead>
        <tr>
            <th style="width: 20%">
                Nombre
            </th>
            <th style="width: 30%">
                Funcion
            </th>
            <th style="width: 10%">
                Email
            </th>
            <th style="width: 20%">
                Responsable
            </th>
            <th style="width: 20%">
                Responsalbe
            </th>        
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of sectores">
            <td>{{s.nombre}}</td>
            <td>{{s.funcion}}</td>
            <td>{{s.email}}</td>
            <td>{{s.responsable.apellido}}, {{s.responsable.nombre}}</td>
            <td>
                <button class="btn btn-success" (click)="modificarSector(s)">MOD</button>
                <button class="btn btn-danger">BORRAR</button>
            </td>
    
        </tr>
        </tbody>
    </table>
</div>
